/*font*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

/*tagnames*/
body {
    margin: 0px;
}
html {
    color: black;
    background-color: white;
    font-family: "Hind Siliguri", sans-serif;
    text-align: center;
}
div {
    width: 98%;
    padding: 1%;
}
div img {
    height: 48px;
}
iframe {
    width: 75%;
}
p {
    width: 50%;
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
}
.header button {
    color: white;
    outline: none;
    border: none;
    background: #2d3763;
    padding: 24px 48px;
}
.header button:hover {
    color: white;
    background-color: #2d376e;
    cursor: pointer;
}
.header {
    width: 100%;
    margin: 0px;
    background: #2d376e;
    padding: 0px;
    text-align: right;
}

.nav:hover {
    color: white;
    background-color: #2d376e;
    cursor: pointer;
}
.footer-container {
    height: 5em;
    font-size: 1.5em;
}
#banner {
    background-color: yellow;
    height: 24px;
    padding: none;
    transition: ease-in-out 1s;
}
#banner h4 {
    margin: 0px;
    display: inline-block;
}
#banner button {
    float: right;
    background-color: yellow;
}
#footer {
    padding: 2%;
    text-align: center;
    width: 100%;
    min-height: 3em;
    min-width: 100%;
}
#footer img {
    display: inline-block;
    margin: 0px;
}
#header-logo {
    height: 48px;
    position: absolute;
    left: .5%;
    top: .5%;
    padding-right: 5%;
}
p {
    width: 75%;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
}
